{% extends 'base_template.html' %}
{% block content %}
    <div class="container">
        {% for post in posts %}
            {% include 'shop_post_card.html' %}
        {% endfor %}
    </div>
    <p class="off-set-text font-changer">Одяг не придумав</p>
    <p class="bottom-text font-changer" style="bottom: 60px;">&#8595;Контакти</p>
    <p class="bottom-text font-changer"style="bottom: 40px;">За запитаннями - +0/0000000000</p>
    <p class="bottom-text font-changer">&copy; serg-nyk 2024</p>
    {% endblock content %} 
