{% extends 'base_template.html' %} {% block content %}
<div id="carouselExampleFade" class="carousel slide carousel-fade py-5">
  <div
    class="carousel-inner py-5 product-img"
    style="background-image: url('/static/img/background.jpg')"
  >
    <div
      class="container small-outline py-2 my-2 text-center"
      style="background-color: #ebebeb50"
    >
      <h2>Весняний розпродаж</h2>
    </div>
    <div class="carousel-item active text-center">
      <img
        src="static/img/pants10-Glamorous_night_pants.jpeg"
        class="d-block w-100 img-fluid product-img img-center"
        style="max-width: 60rem; height: auto"
        alt="..."
      />
      <h2
        class="container small-outline py-2 my-2"
        style="background-color: #ebebeb50"
      >
        Штани "Glamorous Night"
      </h2>
      <h3
        class="container small-outline py-2 my-2"
        style="background-color: #ebebeb50"
      >
        Штани / Шорти
      </h3>
    </div>
    <div class="carousel-item text-center">
      <img
        src="static/img/shirt11-Urban_traveller.jpeg"
        class="d-block w-100 img-fluid product-img img-center"
        style="max-width: 60rem; height: auto"
        alt="..."
      />
      <h2
        class="container small-outline py-2 my-2"
        style="background-color: #ebebeb50"
      >
        Міський мандрівник
      </h2>
      <h3
        class="container small-outline py-2 my-2"
        style="background-color: #ebebeb50"
      >
        Футболки / Майки
      </h3>
    </div>
    <div class="carousel-item text-center">
      <img
        src="static/img/sweater6-mountain_wind.jpeg"
        class="d-block w-100 img-fluid product-img img-center"
        style="max-width: 60rem; height: auto"
        alt="..."
      />
      <h2
        class="container small-outline py-2 my-2"
        style="background-color: #ebebeb50"
      >
        Гірський вітер
      </h2>
      <h3
        class="container small-outline py-2 my-2"
        style="background-color: #ebebeb50"
      >
        Кофти / Светри
      </h3>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock content %}
