{% extends 'base_template.html' %} {% block content %}
<div id="carouselExampleFade" class="carousel slide carousel-fade py-5">
  <div
    class="carousel-inner py-5 product-img"
    style="background-image: url('/static/img/background.jpg')"
  >
    <div class="carousel-item active">
      <img
        src="static/img/pants10-Glamorous_night_pants.jpeg"
        class="d-block w-100 img-fluid product-img img-center"
        style="max-width: 60rem; height: auto"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="static/img/shirt11-Urban_traveller.jpeg"
        class="d-block w-100 img-fluid product-img img-center"
        style="max-width: 60rem; height: auto"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="static/img/sweater6-mountain_wind.jpeg"
        class="d-block w-100 img-fluid product-img img-center"
        style="max-width: 60rem; height: auto"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock content %}
